flows.json
[{"id":"d7027a2b.6bef48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c60f1b93.8784e8","type":"debug","z":"d7027a2b.6bef48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"c7de36a5.540ae8","type":"ibmiot in","z":"d7027a2b.6bef48","authentication":"apiKey","apiKey":"42927628.945c18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"D6D9G2H1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":320,"wires":[["c60f1b93.8784e8","4a65bc58.7ac494","d45203ed.26432","ce336bc1.f63bf8"]]},{"id":"ce336bc1.f63bf8","type":"function","z":"d7027a2b.6bef48","name":"Charge","func":"msg.payload=msg.payload.d.charge\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":280,"wires":[["c60f1b93.8784e8"]]},{"id":"d45203ed.26432","type":"function","z":"d7027a2b.6bef48","name":"ID","func":"msg.payload=msg.payload.d.ID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["c60f1b93.8784e8"]]},{"id":"4a65bc58.7ac494","type":"function","z":"d7027a2b.6bef48","name":"Waiting Time","func":"msg.payload=msg.payload.d.Time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["c60f1b93.8784e8"]]},{"id":"42927628.945c18","type":"ibmiot","name":"IoTDevice","keepalive":"60","serverName":"on9ox0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]